[
    {
        "if": {
            "Datasource.type": "postgis"
        },
        "then": {
            "Datasource.dbname": "osm",
            "Datasource.password": "",
            "Datasource.user": "ybon"
        }
    }
]
